<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h2>编辑观影清单</h2>
      </div>
      <div class="card-body">
        <%= render 'form' %>
      </div>
      <div class="card-footer text-center">
        <%= link_to "返回观影清单", watchlist_path(@watchlist), class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>